{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center" style="font-size:20px">

<h1>Result</h1>
<hr />
<p>User  : {{ attempt.user.get_full_name }}</p>
<p>Score : {{ attempt.score }}</p>
<p>EQ score : {{ attempt.eq_score }}</p>
<p>Total Score : {{ attempt.total_score }}</p>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(()=>{

        $('#back').removeClass('hidden');
        $('#back').attr("href", "/recruitments/list/");

    });

</script>
{% endblock %}