{% extends 'base.html' %}

{% block content %}
<div class="page-header boxed text-center" style="font-size:20px">

<h1>Candidate Details</h1>
    <hr/>
    <h2> {{ candidate.get_full_name }}</h2>
    <div>
        <p><b>Email : </b>{{ candidate.email }}</p>
        <p><b>Phone : </b>{{ candidate.phone }}</p>
        <!--<p><b>Date of Birth : </b>{{ user.date_of_birth }}</p>-->

        <!--<p><b>Educational Qualification : </b>{{ user.qualification }}</p>-->
        <!--<p><b>Proffessional Experience : </b>{{ user.experience }}</p>-->
        <p>

            {% if candidate.resume %}
            <a href='{{candidate.resume.url}}' style="color:#ea8019e6"><b>Download Resume</b></a>
            {% elif not user.is_staff%}
            <div class="col-6" style="padding-left: 350px">
            <form action="" method="post" enctype= "multipart/form-data" class="signup-form">
            {% csrf_token %}
             <input type="file" name="resume" id="id_file" class="" width="50%">
                {% if message %}
                <p>{{ message }}</p>
                 {% endif %}
              <button type="submit" class="btn btn-primary">Upload Resume</button>

            </form>
            </div>
            {% else %}
            <a href='#' style="color:#ea8019e6"><b>NO Resume Uploaded </b></a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(()=>{

        $('#id_file').removeClass('form-control');

    });

</script>
{% endblock %}