{% extends 'outer.html' %}

{% block content %}

<div class="col-xs-6 col-xs-offset-3">

    <div class="text-center">

<h3></h3>
</div>
      <span class="login-link">Already Have an Account ? <a href="{% url 'login'%}">Sign In</a></span>
<div class="row boxed signup-page" >
<h5>Registration Form</h5>
   <form class="" method="post" id="signup_form" enctype= "multipart/form-data">
      {% csrf_token %}
       <br>
       <!-- <div class="col-xs-6">{{ form.first_name.label_tag }}
           {{ form.first_name}}</div>

       <div class="col-xs-6">{{ form.last_name.label_tag }}
        {{ form.last_name}}</div>

       <div class="col-xs-6">{{ form.qualification.label_tag }}
        {{ form.qualification}}
       </div>

       <div class="col-xs-6">{{ form.experience.label_tag }}
        {{ form.experience }}</div>


       <div class="col-xs-6">{{ form.phone.label_tag }}
           {{ form.phone}}</div>

       <div class="col-xs-6">{{ form.date_of_birth.label_tag }}</div>
           <div class="col-xs-6">{{ form.date_of_birth}}</div>

       <div class="col-xs-12">{{ form.about_me.label_tag }}
           {{ form.about_me}}</div>




       <div class="col-xs-12">{{ form.email.label_tag }}
           {{ form.email }}</form></div>

       <div class="col-xs-6">{{ form.password.label_tag }}
           {{ form.password }}</div>

       <div class="col-xs-6">{{ form.confirm_password.label_tag }}
           {{ form.confirm_password }}</div> -->

        {{form.as_p}}
       
           <button type="submit" class="btn btn-primary btn-block">Register</button>
  </form>

</div>
</div>
{% endblock %}
