{% extends "base.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{form}}
<br>
<input type="submit" class="btn btn-info" value="Change Password">
</form>


{%endblock%}