{% extends "outer.html" %}

{% block content %}
<div class="col-xs-4 col-xs-offset-4" style="padding: 20px ;">
    <span class="login-link">Haven't Registered Yet ? <a href="{% url 'accounts:register' %}">Register Here</a></span>
<div class="row boxed signup-page" >
    <div class="text-center">

<h3>Login</h3>
</div>

   <form class="" method="post" id="login_form">
      {% csrf_token %}
      {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}
       <br>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
    <br>
  <!--<a href="../password_reset/" class="btn">Forgot Password</a>-->
</div>
</div>

{% endblock %}


