<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConnectCare</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
</head>
<body>
<div>

{% block content %}
{% endblock %}

</div>
<div>
<hr/>
    <p class="text-center">&copy; <a>Privacy Policy</a> <a>License Agreement</a>  <a>Contact Us</a></p>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>